<h2 mat-dialog-title>{{data.title}}</h2>
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div class="input-row">
    <mat-form-field>
      <mat-label>Título de la Tarea</mat-label>
      <input matInput formControlName="title" [(ngModel)]="task.titulo">
      <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
        El Título es obligatorio
      </mat-error>
      <mat-error *ngIf="taskForm.get('title')?.hasError('minlength')">
        El título debe tener al menos 3 caracteres
      </mat-error>
    </mat-form-field>
  </div>
  <div class="input-row">
    <mat-form-field appearance="outline">
      <mat-label>Completada</mat-label>
      <mat-select formControlName="status" [(ngModel)]="completada">
        <mat-option *ngFor="let completada of statusOptions" [value]="completada" >
          {{ completada }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="closeModal()">Cancelar</button>
    <button mat-flat-button color="accent" type="submit" [disabled]="taskForm.invalid">Guardar</button>
  </div>
</form>